.App {
  text-align: center;
}

.stage {
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 250px;
  padding-top: 200px;
  padding-bottom: 200px;
  border: 1px solid black;
}
.controls {
  margin-top: 40px;
  border: 10px solid black;
  height: 321px;
}
